@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62%;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-block-start: 2rem;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: .05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-block-end: 1rem;
    margin-block-start: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#presentation {
    background-image: url(./assets/coffee-0.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation-delay: 2.8s;
}

#presentation h1:nth-child(4) {
    animation-delay: 3.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 1rem 3rem;
    color: gold;
    background-color: transparent;
    border: .2rem solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-block-start: 2rem;
    transition: .5s ease;
    transition-property: background-color, color;

}

#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: gold;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation h1:nth-child(4) span {
    animation-delay: 3.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#coffee .coffee {
    flex-direction: column;
    max-width: 120rem;
    margin: 0 auto;
}

.section-title-hover {
    --b: 0.1em;
    --c: #8b5a3d;
    color: #0000;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.section-title-hover:hover {
    --_p: 100%;
    --_s: .3s;
}

#coffee .coffee-header {
    height: 100%;
    width: 100vw;
    display: grid;
    place-content: center;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
}

#coffee .coffee-header h1 {
    font-size: 5rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0 .1em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#coffee .all-coffee-beans {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#coffee .coffee-bean-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#coffee .coffee-bean-info {
    padding: 3rem;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #006400 0%, #002349 100%);
    color: white;
}

#coffee .coffee-bean-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#coffee .coffee-bean-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-block-start: 1rem;
}

#coffee .coffee-bean-img {
    flex-basis: 50%;
    height: 30rem;
    overflow: hidden;
    position: relative;
}

#coffee .coffee-bean-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#coffee .coffee-bean-img img {
    transition: 0.5s ease transform;
}

#coffee .coffee-bean-item:hover .coffee-bean-img img {
    transform: scale(1.1);
}

.coffee-footer {
    position: relative;
    font-family: monospace;
    color: #8b5a3d;
    font-size: 4em;
    filter: contrast(15);
    text-align: center;
    margin-block-start: 6.5rem;
}

.word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: switch 8s infinite ease-in-out;
    min-width: 100%;
    margin: auto;
}

.word:nth-child(1) {
    animation-delay: -7s;
}

.word:nth-child(2) {
    animation-delay: -6s;
}

.word:nth-child(3) {
    animation-delay: -5s;
}

@keyframes switch {

    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    50%,
    80% {
        filter: blur(18rem);
        opacity: 0;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: gold;
        font-weight: 50rem;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        inline-start: 0;
    }

    100% {
        width: 0;
        inline-start: 100%
    }
}

@media only screen and (min-width: 76.8rem) {

    #coffee .coffee-bean-item {
        flex-direction: row;
        height: 40rem;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #coffee .all-coffee-beans .coffee-bean-info {
        height: 100%
    }

    #coffee .all-coffee-beans .coffee-bean-img {
        height: 100%
    }

    #coffee .coffee-bean-item:nth-child(even) {
        flex-direction: row-reverse;
    }

}

@media only screen and (max-width: 76.8rem) {

    #presentation .container header{
        margin-inline-start: 2rem;
    }

}
