* {
    margin: 0;
}

.container{ 
    display: flex;
    gap: 3.75rem;
}

.left{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    border: solid 1px red; 
    gap: 2rem;

    width: 40%;
    max-width: 348px;

    margin-top: 2.5rem;
    margin-left: 2.5rem; 
}
 
.profile{
    width: 348px;
    height: 292px;
    border: solid 1px; 
}

.links{
    width: 348px;
    height: 348px;
    border: solid 1px; 
}

.technologies{
    width: 348px;
    height: 208px;
    border: solid 1px; 
}

.experiences{
    width: 348px;
    height: 349px;
    border: solid 1px; 
}

.education{
    width: 348px;
    height: 352px;
    border: solid 1px; 
}

.right{
    display: flex; 
    flex-direction: column; 
    
    border: solid 1px red;  
    margin-top: 2.5rem; 
    width: auto; 
}

.my-projects{
    width: 952px;
    height: 86px;
    border: solid 1px;  
}

.box-projects{
    display: flex;
    justify-content: space-around;  
    gap: 2rem; 
}

.project-1{
    width: 461px;
    height: 186px;  
    margin-top: 2.5rem;
    border: solid 1px; 
}

.project-2{
    width: 461px;
    height: 186px;  
    margin-top: 2.5rem;
    border: solid 1px; 
}

.recent-posts{
    width: 952px;
    height: 86px;
    margin-top: 2.5rem;
    border: solid 1px; 
}

.box-posts{
    display: flex;
    justify-content: space-around; 
    flex-direction: column; 
    margin-top: 2.5rem;
}

.post-1{
    display: flex;
    justify-content: space-around; 

    border: solid 1px;  
    margin-bottom: 2.5rem;
}

.box-post-left{  
    border: solid 1px; 
}

.box-post-right{  
    border: solid 1px; 
}

.post-2{
    display: flex;
    justify-content: space-around; 

    border: solid 1px; 
    margin-bottom: 2.5rem;
}

.footer{
    text-align: center;
    
    border: solid 1px;
}
