:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
  
* {
    margin: 0;
}

body{
    font-family: 'Merriweather Sans', sans-serif;; 
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.container{ 
    display: flex;
    gap: 3.75rem;
}

.left{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    gap: 2rem;

    width: 40%;
    max-width: 348px;

    margin-top: 2.5rem;
    margin-left: 2.5rem; 
}

.cards{ 
    background-color: var(--bg-cards);
}
 
.profile{
    width: 348px;
    height: 292px;
}

.links{
    width: 348px;
    height: 348px;
}

.technologies{
    width: 348px;
    height: 208px;
}

.tooltip{
    background-color: var(--bg-techs); 
}

.tech{
    margin-top: 1.5rem;
}

.techs{
    display: flex;
    gap: 1.5rem; 
}

.experiences{
    width: 348px;
    height: 349px;
}

.education{
    width: 348px;
    height: 352px; 
}

.right{
    display: flex; 
    flex-direction: column; 
    margin-top: 2.5rem; 
    margin-right: 2.5rem; 
    width: auto; 
}

.my-projects{
    width: 952px;
    height: 86px;
}

.box-projects{
    display: flex;
    justify-content: space-around;  
    gap: 2rem; 
}

.project-1{
    width: 461px;
    height: 186px;  
    margin-top: 2.5rem;
}

.project-2{
    width: 461px;
    height: 186px;  
    margin-top: 2.5rem; 
}

.recent-posts{
    width: 952px;
    height: 86px;
    margin-top: 2.5rem;
}

.box-posts{
    display: flex;
    justify-content: space-around; 
    flex-direction: column; 
    margin-top: 2.5rem;
}

.post-1{
    display: flex;
    justify-content: space-around; 

    margin-bottom: 2.5rem;
    
    width: 952px;
    height: 201px;
}

.post-2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    
    width: 952px;
    height: 201px; 
}

.footer{
    text-align: center; 
    height: 58px; 
    position: relative
}

.footer span{
    position: absolute;
    top: 35%;
}