* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7;
}

body.dark-blue {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#projetos .container {
  text-align: center;
  width: 35%;
  margin: 60px auto 0;
  height: 100vh;
}

#projetos .container a {
  text-decoration: none;
}

#projetos .container img {
  width: 100%;
}

#projetos .container img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

#projetos .container h1 {
  font-size: 32px;
  margin-top: 14px;
  margin-bottom: 8px;
}

#projetos .container .username {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

#projetos .container ul {
  list-style: none;
  margin: 30% 0;
}

#projetos .container ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

#projetos .container ul li a:hover {
  background: var(--primary-color-dark);
}

#projetos .container footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400ms;
}

#projetos .container footer:hover {
  opacity: 1;
}

#projetos .container footer a {
  color: var(--text-color);
}