.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2vw;
  color: aliceblue;
}

h2 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

span {
  
  font-weight: lighter
}

.max-width-70 {
  max-width: 70%;
  margin: 2vh auto;
}

.text-color-white {
  color: #ffffff;
}

.size-large {
  line-height: 160%;
  font-size: 24px;
  margin-bottom: 4vh;
}

p {
  line-height: 170%;
  font-family: 'Regular';
  font-size: 18px;
  margin-bottom: 3vh;
}