* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: blueviolet;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}

.cards .card {
    flex-basis: 15em;
    flex-grow: 1;
}

.container {
    width: 60%;
    background-color: #f2f2f2a9;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.input-info {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.view-info {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
}

.input-info input[type=text] {
    width: 90%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
}

.input-info input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
}

.input-info input[type=submit]:hover {
    background-color: #45a049;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

@media only screen and (max-width: 375px) {

    .container {
        width: 100%;
        margin: 0;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

}