<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS + Node</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre">About</a>
      </li>
    </ul>
  </nav>
  <p>Página: <%= typeof pagina != 'undefined' ? pagina: 'principal' %></p>
</header>
