<head>
  <title>Construindo com EJS</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  />
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
