<!DOCTYPE html> 
    <%- include('../partials/head'); %>
    <body class="container"> 
        <%- include("../partials/header", {pagina: 'sobre'}); %>
        <main>
            <div class="jumbotron">
                <h1>Ser um bom Dev</h1>
                <p>Ter confiança no desenvolvimento das tarefas</p>
            </div>
        </main> 
        <%- include("../partials/footer"); %>
    </body> 
</html>