#blog-section {
   color: aliceblue;
}

a {
   color: inherit;
   text-decoration: none;
}

.blog {
   margin: 3rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.blog__header {
   text-align: center;
}


.blog__slider {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: .5rem;
   justify-content: space-around;
}

.blog__post {
   list-style: none;
   border-radius: 1em;
   box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, .4);
   -webkit-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, .4);
   -moz-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, .4);

   width: 30%;

}

.blog__topImg {
   max-width: 100%;
}

.blog__content {
   padding: .8rem;
}

.blog__preview {
   font-size: .95rem;
   font-weight: 300;
}

.blog__title {
   margin-top: 0;
   font-size: 1.4rem;
}

.blog__intro {
   line-height: 1.5;
}

.blog__info {
   font-weight: 300;
}

.blog__author {
   font-size: .9rem;
}

.blog__date {
   font-size: .85rem;
}