body{
    background-color: black;
    display: flex;
    justify-content: center;
}

main.stopwatch{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 62px;
}

section.config{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.config input{
    font-size: 16px;
}

.config button{
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 16px;
}

.config button.start{
    background-color: #ff4791;
    color: white;
}

.config button.stop{
    background-color: #f8a0c3;
    color: black;
}

.config button:hover{
    background-color: #d47299;
    cursor: pointer;
}

section.emoji{
    margin: 0;
    padding: 0;
}

.emoji h1{
    color: white;
    font-size: 92px;
}
