* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100vw;
    font-size: 100%;
    display: inline-block;
}

.home-page::-webkit-scrollbar {
    display: none;
}
